* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-attachment: fixed;
  color: aliceblue;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* a, div{
  color: aliceblue;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
} */

div{
  width: 100%;
}

.login{
  position: relative;
  top: 5em;
}

.navbar{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  justify-content: space-between;
  width: calc(100%-100px);
  box-sizing: border-box;
}

.navbar .nav-links{
  display: flex;
  align-items: center;
  width: 100vw;
}

ul p{
  text-align: center;
  width: 100%;
}

ul{
  display: inline-flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.navbar a{
  color: white;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

.navbar span{
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 2rem;
  padding: 4px;
  background-color: ghoswhite;
  width: 200px;
  height: auto;
  border: none;
  outline: none;
  border-radius: 9px;
  box-shadow: .1em .1em .3em black;
  transition: all.4s;
}

input:hover {
  transform: translate3d(.05em,.05em,.2em);
  box-shadow: .05em .05em .1em black;
}

.fake_nefturian{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.fake_nefturian button{
  background-color: #081f2d; 
  border-radius: 29px; 
  border: 1px solid #081F2D; 
  color: white; 
  font-size: 15px; 
 padding: 10px 45px; 
  cursor: pointer; 
  transition: 0.3s; 
}

.fake_nefturian button:hover{
  background-color: white; 
  color: #081F2D; 
  border-color: #081F2D; 
  transition: 0.3s; 

}

.fake_nefturian .back{
  font-size: 1.2rem;
  font-weight: bold;
  top: 10px;
  position: absolute;
}

.table-nefturian{
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.info{
  padding: 10px;
}

.navigation{
  padding: 2em;
}

.navigation span{
  margin: 20px;
}



